body{
    
}





.bigbox{
    
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    
}


.box1{
    background-color: darkcyan;
    display: flex;
    padding: 50px 500px;
    border:3px solid darkcyan;
    border-radius: 10px;
    box-shadow: 10px 0px 10px darkcyan;
}

.box2{
    
    border:3px solid darkcyan;
    border-top: darkcyan;
    border-radius: 10px;
    display: flex;
    padding: 150px 500px;
    box-shadow: 10px 10px 10px darkcyan;
}

.box3{
    display: flex;
    position: absolute;
    height: 110px;
    width: 110px;
    margin-right: 700px;
    margin-bottom: 200px;
    border-radius: 50%;
    border: 3px solid darkcyan;
    align-items: center;
    justify-content: center;
    
}




.box3 img{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    
    

    
}


#set img{
    height: 20px;
    width: 20px;
}


#set{

position: absolute;
display: flex;
flex-direction: column;
height: 10px;
width: 250px;
margin-right: 600px;
margin-bottom: 100px;




}


h4{
    position: absolute;
    margin-top: 150px;


}


h3{
    position: absolute;
    margin-top: 63px;

}