.nav {
    background-color: black;
    display: flex;
	
	align-items: center;
    
}


.nav-title{
    margin-left: 20px;
    color: white;
    font-family: cursive;

}


.nav-links{
    
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 160px;
    
	
    

}


ul li{
    list-style-type: none;
	font-family: cursive;
	
}


.btn {
	box-shadow: 3px 6px 0px 0px #242f38;
	background-color:darkcyan;
	border:3px solid #050505;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Trebuchet MS;
	font-size: 17px;
	font-weight:bold;
	padding: 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    
    
}
.btn:hover {
	background:linear-gradient(to bottom, #0080ff 5%, #0080ff 100%);
	background-color:#0080ff;
}


.nav-links a{
    color: white;
    text-decoration: none;


}

.btnbox{
	display: flex;
	padding: 10px 10px;
    margin-left: 300px;
}



body{
    
}



.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}


.first{

    display: flex;
    flex-direction: column;
    padding-left: 200px;
    

}




.bigbox1{
    
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    
}


.box1{
    background-color: darkcyan;
    display: flex;
    padding: 50px 250px;
    border:3px solid darkcyan;
    border-radius: 10px;
    box-shadow: 10px 0px 10px darkcyan;
}

.box2{
    
    border:3px solid darkcyan;
    border-top: darkcyan;
    border-radius: 10px;
    display: flex;
    padding: 150px 250px;
    box-shadow: 10px 10px 10px darkcyan;
}

.box3{
    background-color: white;
    display: flex;
    position: absolute;
    height: 110px;
    width: 110px;
    margin-right: 330px;
    margin-bottom: 200px;
    border-radius: 50%;
    border: 5px solid darkcyan;
    align-items: center;
    justify-content: center;
    
}




.box3 img{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    
    

    
}


#set1 h4 img{
height: 20px;
width: 20px;
}


#set1{

position: absolute;
display: flex;
flex-direction: column;
height: 10px;
width: 250px;
margin-right: 200px;
margin-bottom: 100px;


}

#set1 h1{
    font-family: cursive;
}


#set1 h4{
    position: absolute;
    margin-top: 150px;
    font-family: cursive;
    

}


#set1 h3{
    position: absolute;
    margin-top: 63px;
    font-family: cursive;
    

    

}

#set1 p{
    
}

#set1 h3 img{
    margin-right: 5px;
    height: 20px;
    width: 15px;

}




.bigbox2{
    
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
    
    
}


.box4{
    background-color: rgb(102, 102, 102);;
    justify-content: left;
    padding-left: 20px;
    padding-right: 395px;
    border:3px solid rgb(102, 102, 102);;
    border-radius: 10px;
    box-shadow: 10px 0px 10px rgb(102, 102, 102);
    
}

.box4 h3{
    font-family: cursive;
    margin: 5px 0px;
    color: white;
    
    

}

.box5{
    
    border:3px solid rgb(102, 102, 102);;
    border-top: rgb(102, 102, 102);;
    border-radius: 10px;
    
    padding-left: 20px;
    padding-right: 95px;
    box-shadow: 10px 10px 10px rgb(102, 102, 102);
}

.box5 * {
    font-family: cursive;

}

.box5 h3{

    color: grey;

}





.second{

    display: flex;
    flex-direction: column;
    padding-right: 200px;
    

}




.bigbox3{
    
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.box7{
    background-color: rgb(102, 102, 102);
    display: flex;
    padding: 0px 36px;
    border:3px solid rgb(102, 102, 102);
    border-radius: 10px;
    box-shadow: 10px 0px 10px rgb(102, 102, 102);
    
}

.box7 *{
    font-family: cursive;
}


.box7 h3{
    color: white;
    margin: 8px 0px;
    margin-left: 5px;

}




.radius2{
    color: white;
    background-color: lightsteelblue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    
    
    
}

.box8{
    
    border:3px solid rgb(102, 102, 102);;
    border-top: rgb(102, 102, 102);;
    border-radius: 10px;
    display: flex;
    padding: 10px 10px;
    padding-right: 18px;
    box-shadow: 10px 10px 10px rgb(102, 102, 102);;
}

.box8 *{
    font-family: cursive;
}

.friends1 li img{
    height: 30px;
    width: 30px;
    margin-top: 0px;

}

.friends1{
    padding: 0px 0px 0px 0px;
    font-size: x-large;
}
#bttn1{
    margin-left: 90px;
}

#bttn2{
    margin-left:  107px;
}






.bigbox4{
    
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}


.box10{
    background-color: rgb(102, 102, 102);;
    display: flex;
    padding: 0px 39px;
    border:3px solid rgb(102, 102, 102);
    border-radius: 10px;
    box-shadow: 10px 0px 10px rgb(102, 102, 102);
    
}

.box10 *{
    font-family: cursive;
}


.box10 h3{
    color: white;
    margin: 8px 0px;
    margin-left: 5px;

}




.radius500{
    color: white;
    background-color: lightsteelblue;
    border-radius: 50%;
    height: 30px;
    width: 60px;
    text-align: center;
    
    
    
}

.box11{
    
    border:3px solid rgb(102, 102, 102);;
    border-top: rgb(102, 102, 102);;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(102, 102, 102);
    
    
    

}

#viewmorebox{
    
    border-bottom: 3px solid rgb(102, 102, 102);
    
    display: flex;
    padding: 10px 10px;
    padding-right: 154px;
    
    margin-bottom: 10px;
    


}

.box11 a{
margin-left: 20px;
margin-top: 10px;
font-family: cursive;

}



#viewmore *{
    font-family: cursive;
    
}



.friends2 li img{
    height: 30px;
    width: 30px;
    margin-top: 0px;

}


.friends2{
    padding: 0px 0px 0px 0px;
    font-size: x-large;
}









