<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckerBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <style>
        .square0{
            background-color: {{square0}};
        }
        .square1{
            background-color: {{square1}};
        }
    </style>
</head>
<body>
    <div class="container">
        <table id="board">
            {% for i in range(bigbox):%}
            <tr>
                {% for j in range(smallbox):%}
                <td class="square{{(i+j)%2}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>